.about {
	position: relative;

  padding: 24px 16px;

  overflow: scroll;

  animation: $fadeIn;

	&__cntnt {
    > *:first-child {
      margin-top: 0;
    }

    h2 {
      display: inline-block;
      color: $blue;

      @media (max-width: 430px) {
        display: block;
      }
    }

    p {
    	margin: 16px 0;
    }
	}

  &__cv {
    display: block;
    text-align: center;

    a.cv {
      display: inline-block;
      vertical-align: text-top;
    }
  }
}
