.dev {
  position: relative;

  padding: 24px 16px;

  overflow: scroll;

  animation: $fadeIn;

  &__cntnt {
    margin: 0 auto;

    > *:first-child {
      margin-top: 0;
    }

    p {
      margin: 16px 0;
    }
  }

  &__item {
    display: block;
    font-family: $mono;
    margin: 40px 0;

    &:last-of-type {
      margin-bottom: 0;
    }

    video {
      width: 100%;
      height: auto;
      margin: 16px 0;
    }

    img {
      display: block;
      width: auto;
      max-width: 100%;
      height: auto;
      margin: 16px 0;

      &.half {
        display: inline-block;
        width: 48%;

        &--left {
          margin-top: 8px;
          margin-bottom: 8px;
          margin-right: 2%;
        }

        &--right {
          margin-top: 8px;
          margin-bottom: 8px;
          margin-left: 2%;
        }
      }
    }
  }

  &__title {
    h2 {
      color: $blue !important;
      margin-bottom: 0;
    }

    a {
      color: $blue;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
