.phone {
  position: relative;
  display: block;

  margin: 5vh auto;

  width: 390px;
  height: 754px;

  border: 3px solid $white;
  border-radius: 30px;

  @media (max-width: 430px) {
    width: calc(100vw - 8px);
    height: auto;
    border: none;
  }

  &-top {
    position: absolute;
    top: calc(50% - 335px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 5px;
    background-color: $white;
    border-radius: 5px;

    @media (max-width: 430px) {
      display: none;
      top: 45px;
    }

    &:before {
      content: '';
      position: relative;
      display: block;
      top: -2px;
      left: -30px;
      width: 10px;
      height: 10px;
      background-color: $white;
      border-radius: 5px;
    }
  }

  &-screen {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 344px;
    height: 600px;
    border: 3px solid aliceblue;
    border-radius: 5px;
    overflow: hidden;

    @media (max-width: 430px) {
      width: calc(100vw - 60px);
      height: calc(100vh - 180px);
    }
  }

  .home-button {
    position: absolute;
    top: calc(50% + 343px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 42px;
    height: 42px;
    border: 3px solid $white;
    border-radius: 100%;

    @media (max-width: 430px) {
      display: none;
      top: auto;
      bottom: -7px;
    }
  }

  .message {
    display: block;
    position: absolute;
    bottom: 0px;
    width: auto;
    margin: 10px 10px 0;
    font-size: 18px;
    font-family: monospace;
    opacity: 0;
    transform: translateY(100px);
    animation: showText 0.2s ease forwards 0.5s;

    p {
      display: inline-block;
      max-width: 72%;
      color: $black;
      background: aliceblue;
      padding: 5px 10px;
      margin: 0;
      border-radius: 10px;
    }

    a {
      color: dodgerblue;
      background-color: transparent;
      text-decoration: underline;

      &:hover {
        color: aliceblue;
        background-color: dodgerblue;
      }
    }

    &--right {
      position: absolute;
      right: 0;
      text-align: right;

      p {
        color: aliceblue;
        background: dodgerblue;
      }

      a {
        color: aliceblue;
        background-color: transparent;
        text-decoration: underline;

        &:hover {
          color: dodgerblue;
          background-color: aliceblue;
        }
      }
    }

    &:nth-of-type(1) {
      animation-delay: 0.2s
    }

    &:nth-of-type(2) {
      animation-delay: 1s
    }

    &:nth-of-type(3) {
      animation-delay: 3s
    }

    &:nth-of-type(4) {
      animation-delay: 5s
    }

    &:nth-of-type(5) {
      animation-delay: 7s
    }

    &:nth-of-type(6) {
      animation-delay: 9s
    }

    &:nth-of-type(7) {
      animation-delay: 9s
    }

    &:nth-of-type(8) {
      animation-delay: 9s
    }

    &:last-of-type {
      margin-bottom: 10px;
    }
  }

  .overlay {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 354px;
    height: 610px;
    background-color: $white;

    @media (max-width: 430px) {
      width: calc(100vw - 60px);
      height: calc(100vh - 180px);
    }
  }

  .apps {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;

    padding: 10px 24px 4px;

    background-color: aliceblue;

    @media (max-width: 430px) {
      padding: 10px 0 4px
    }

    &__btn {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;
      flex: 0 0 24%;

      text-align: center;
      text-decoration: none;

      &:hover {
        .icon {
          // background-color: #156fc6;
          color: dodgerblue;
          background-color: $white;
          border: 2px solid dodgerblue;

          > span {
            color: dodgerblue;
          }
        }
      }

      .icon {
        width: 50px;
        height: 50px;
        margin: 0;
        border-radius: 5px;
        border: 2px solid dodgerblue;
        padding: 10px 2px;
        font-size: 20px;
        color: $white;
        background-color: dodgerblue;
        box-sizing: border-box;
        transition: background 0.3s ease, color 0.3s ease;
        box-shadow: 0px 0px 9px -2px rgba(34, 16, 16, 0.45);

        &--about {
          padding: 2px 2px;

          > span {
            color: $white;
            font-size: 34px;

            transition: color 0.3s ease;
          }
        }

        &--work {
          font-size: 22px;
        }
      }

      > span:not(.icon) {
        width: 100%;
        padding-top: 2px;
        color: dodgerblue;
        font-family: monospace;

        @media (max-width: 430px) {
          font-size: 14px;
        }
      }
    }
  }
}

@keyframes gradientAnimate {
  0% {
    transform: translate(-50%, 0%)
  }
  100% {
    transform: translate(-50%, -60%)
  }
}

@keyframes showText {
    from {
      position: absolute;
      opacity: 0;
      transform: translateY(100px);
    }

    to {
      position: relative;
      opacity: 1;
      transform: translateY(-10px);
    }
  }
