.phone {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 330px;
  height: 630px;
  border: 3px solid $white;
  border-radius: 30px;

  &-top {
    position: absolute;
    top: calc(50% - 275px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 5px;
    background-color: $white;
    border-radius: 5px;

    &:before {
      content: '';
      position: relative;
      display: block;
      top: -2px;
      left: -30px;
      width: 10px;
      height: 10px;
      background-color: $white;
      border-radius: 5px;
    }
  }

  &-screen {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 290px;
    height: 480px;
    border: 3px solid aliceblue;
    border-radius: 5px;
    overflow: hidden;
  }

  .home-button {
    position: absolute;
    // top: calc(50% + 263px);
    top: calc(50% + 278px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45px;
    height: 45px;
    border: 3px solid $white;
    border-radius: 100%;
  }

  .message {
    display: block;
    position: absolute;
    bottom: 0px;
    width: auto;
    margin: 10px 10px 0;
    font-size: 15px;
    font-family: monospace;
    opacity: 0;
    transform: translateY(100px);
    animation: showText .2s ease forwards 1;

    p {
      display: inline-block;
      max-width: 70%;
      color: $black;
      background: aliceblue;
      padding: 5px 10px;
      margin: 0;
      border-radius: 10px;
    }

    a {
      color: dodgerblue;
      background-color: transparent;
      text-decoration: underline;

      &:hover {
        color: aliceblue;
        background-color: dodgerblue;
      }
    }

    &--right {
      position: absolute;
      right: 0;
      text-align: right;

      p {
        color: aliceblue;
        background: dodgerblue;
      }

      a {
        color: aliceblue;
        background-color: transparent;
        text-decoration: underline;

        &:hover {
          color: dodgerblue;
          background-color: aliceblue;
        }
      }
    }

    &:nth-of-type(1) {
      animation-delay: 0.2s
    }

    &:nth-of-type(2) {
      animation-delay: 1s
    }

    &:nth-of-type(3) {
      animation-delay: 3s
    }

    &:nth-of-type(4) {
      animation-delay: 5s
    }

    &:nth-of-type(5) {
      animation-delay: 7s
    }

    &:last-of-type {
      margin-bottom: 10px;
    }
  }

  .overlay {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 295px;
    height: 485px;
    background-color: $white;
  }
}

@keyframes gradientAnimate {
  0% {
    transform: translate(-50%, 0%)
  }
  100% {
    transform: translate(-50%, -60%)
  }
}

@keyframes showText {
    from {
      position: absolute;
      opacity: 0;
      transform: translateY(100px);
    }

    to {
      position: relative;
      opacity: 1;
      transform: translateY(-10px);
    }
  }
