.work {
  position: relative;

  padding: 24px 16px;

  overflow: scroll;

  animation: $fadeIn;

	&__cntnt {
  	margin: 0 auto;

    > *:first-child {
      margin-top: 0;
    }

    h1 {
      color: $blue;
    }

    p {
    	margin: 16px 0;
    }
  }

  &__item {
    font-family: monospace;
    margin-bottom: 40px;

    &:last-of-type {
      margin-bottom: 0;
    }

    img {
      display: block;
      width: auto;
      max-width: 100%;
      height: auto;
      margin: 16px 0;

      &.half {
        display: inline-block;
        width: 48%;

        &--left {
          margin-top: 8px;
          margin-bottom: 8px;
          margin-right: 2%;
        }

        &--right {
          margin-top: 8px;
          margin-bottom: 8px;
          margin-left: 2%;
        }
      }
    }

    .video {
      display: block;
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 56.25%;
      margin: 16px 0;

      &--miracle {
        padding-bottom: 74.25%;
      }

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__title {
    h2 {
      color: $blue;
      margin-bottom: 0;
    }
  }
}
